<%- include("ejs/header.ejs") %> <%- include("ejs/navbar.ejs") %>
<main>
  <div class="hero-area section-bg2">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="slider-area">
            <div
              class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center"
            >
              <div class="hero-caption hero-caption2">
                <h2>Your Account</h2>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-50 pt-50">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="text-center card-box">
          <div class="member-card">
            <div class="thumb-xl member-thumb m-b-10 center-block">
              <img
                src="https://img.icons8.com/ios-filled/100/user-male-circle.png"
                alt="user-circle"
                class="img-circle img-thumbnail"
                alt="profile-image"
              />
            </div>
            <div class>
              <h4 class="m-b-5"><%= fullName %></h4>
              <p class="username"><%= userName_EMail %></p>
            </div>
            <form action="/logout" method="post">
              <button type="submit" class="btn">Logout</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12">
          <section class="row">
            <div class="container col-lg-12 col-md-12 col-sm-12">
              <div class="offset-xl-1 col-xl-10">
                <div class="nav-button f-left col-12">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a
                        class="nav-link active"
                        id="nav-one-tab"
                        data-bs-toggle="tab"
                        href="#nav-one"
                        role="tab"
                        aria-controls="nav-one"
                        aria-selected="true"
                        >Details</a
                      >
                      <a
                        class="nav-link"
                        id="nav-two-tab"
                        data-bs-toggle="tab"
                        href="#nav-two"
                        role="tab"
                        aria-controls="nav-two"
                        aria-selected="false"
                        >Orders</a
                      >
                      
                      <a
                        class="nav-link"
                        id="nav-three-tab"
                        data-bs-toggle="tab"
                        name="#nav-three"
                        href="#nav-three"
                        role="tab"
                        aria-controls="nav-three"
                        aria-selected="false"
                        >Account actions</a
                      >
                    </div>
                  </nav>
                </div>
              </div>
            </div>
            <div class="container col-12">
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="nav-one"
                  role="tabpanel"
                  aria-labelledby="nav-one-tab"
                >
                  <div class="row">
                    <div class="offset-xl-1 col-10">
                      <p>
                        
                        <h4>Saved Addresses</h4>

    <% var addLen = Object.keys(addresses).length; if (addLen == 0) {  %>
    <p>No addresses added.</p>
    <button class="btn" onclick="addAddressForm()" id="address_input_btn" style="margin: 0;">Add Address</button>
    <% } else { %>
    <table class="addTable">
        <% for (var i in addresses) { var details = addresses[i].split("|") %>
            <tr>
                <td> <%= i %></td>
                <td><%- '<strong>'+ details[0]+' </strong> <br> '+ details[1]  +' <br> '+details[2]  %></td>
                <td>
                    <form method="post" action="/delAdd<%= i %>">
                        <button type="submit" class="showDeleteButton"><span></span></button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>

    <% if (addLen < 5) { %>
        <button class="btn" onclick="addAddressForm()" id="address_input_btn">Add Another</button>
    <% } %>
<% } %>

<div>
  <form action="/addNewAddress" method="post" class="pt-30" id="address_input_form">
    <h5>Add New Address</h5>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="fullName" placeholder="Full Name" required>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="tel" name="phoneNum" placeholder="Phone Number" required>
      </div>

      <div class="col-12 col-md-4 col-lg-4">
        <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" oninput="checkSymbols(this)" onblur="checkIn(this)" name="addressName" placeholder="Address For (eg. Home)" required>
      </div>
    <div class="col-12 col-md-8 col-lg-8">
      <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="address" placeholder="Your Address" required>
    </div>
    
    <div class="col-12 col-md-4 col-lg-4">
      <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="state" placeholder="Your State" required>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="country" placeholder="Your Country" required>
    </div>
    <div class="col-12 col-md-4 col-lg-4">
      <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="pin" placeholder="ZIP/PIN Code" required>
    </div>
  </div>
  <button type="submit" class="btn">Save Address</button>  <button type="button" onclick="closeAddressForm()" class="btn">Cancel</button>
  </form>
</div>

                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="nav-two"
                  role="tabpanel"
                  aria-labelledby="nav-two-tab"
                >
                  <div class="row">
                    <div class="offset-xl-1 col-lg-9">
                      
                        <h4>Active Orders</h4>

                        <table class="orderDetailTable active"> <tbody>
                      <% if(!activeOrders) { %>
                        <%-  '<tr><td><h6 style="margin: 0;">No Active Orders Found</h6></td><tr></tr>' %>
                      <% } else {  activeOrders = activeOrders.split("#") %>
                      <%  for (var i =0; i < activeOrders.length -1 ; i++) {%>
                        <% var singleOrderData = JSON.parse(activeOrders[i]); %>
                          <% for(var j in singleOrderData) {  %>
                          <%  var productsInOrder = singleOrderData[j].products  %>
                          <%  for (var product in productsInOrder) {  %>
                            <tr><td> <div class="main">
                               <div class="title"><h6 style="color: white; margin-bottom: 0;"> <%= productsInOrder[product].split(',')[0] %> </h6></div>                              
                                <div class="row">
                                  <div class="col-sm-12 col-md-9 col-lg-9">
                                    <p><strong>Quantity : </strong> <%= productsInOrder[product].split(',')[1] %> </p>
                                    <p><strong>Ordered On : </strong> <%= new Date(j).toLocaleDateString() %> around  <%= new Date(j).toLocaleTimeString([],{ hour: "2-digit", minute: "2-digit" }) %> </p>
                                    <p><strong>Ordered To : </strong> <%= singleOrderData[j].addSrt +' - ' + addresses[singleOrderData[j].addSrt].split("|")[2] %></p>
                                  </div>
                                  <div class="col-sm-12 col-md-3 col-lg-3 secondSection">
                                    <a href="/product-<%= product %>#description" style="color: #ff7f00;" >Review</a>
                                    <a href="/product-<%= product %>" style="color: #ff7f00;">View</a>
                                  </div>
                                </div>
                               </div>
                              </td>
                             </tr>   
                            <%  }  %>
                          <% } %>
                               
                            <% } }%>

                          </tbody></table>
                      <table>
                        <h4>Past Orders</h4>
                        <table class="orderDetailTable">
                          <tr><td><h6 style="margin: 0;">No Past Orders Found</h6></td></tr>
                        </table>
                      </table>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="nav-three"
                  role="tabpanel"
                  aria-labelledby="nav-three-tab" >
                  <div class="row">
                    <div class="offset-xl-1 col-lg-12">
                    <div>
                      <h4>Change Account Name</h4>
                      <form action="/changename" method="post" style="padding-bottom: 4%;">
                        <div class="row">
                          <div class="col-12 col-md-8  col-lg-8">
                            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="newName" placeholder="Enter Full Name" required>
                          </div>
                        </div>
                        <button type="submit" class="btn">Change Name</button>
                      </form>

                      <h4>Change Password</h4>
                      <form action="/changepass" method="post" style="padding-bottom: 4%;">
                        <div class="row">
                          <div class="col-12 col-md-4  col-lg-4">
                            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="currentPass" placeholder="Current Password" required>
                          </div>
                          <div class="col-12 col-md-4 col-lg-4">
                            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="conPass1" placeholder="New Password" required>
                          </div>
                          <div class="col-12 col-md-4 col-lg-4">
                            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="conPass2" placeholder="Confirm New Password" required>
                          </div>
                          
                        </div>
                        <button type="submit" class="btn">Change Password</button>
                      </form>
                     
                    </div>
                  </div>
                  </div>
                </div>
                
              </div>
            </div>
          </section>
        </section>
      </div>
    </div>
  </div>
</main>

<script>
  function addAddressForm() {
    document.getElementById("address_input_btn").setAttribute("disabled", "true");
    document.getElementById("address_input_form").style.display = 'block';    
  }
  function closeAddressForm() {
    document.getElementById("address_input_btn").removeAttribute("disabled");
    document.getElementById("address_input_form").style.display = 'none';    
  }
  function checkIn(field) {
    if ( Object.keys(JSON.parse('<%- unescape(JSON.stringify(addresses)) %>')).includes(field.value)){
          field.value = "";
          field.placeholder = "Should Be Unique For An Address"
        }
  }
  function checkSymbols(field){
    field.value = field.value.replace(/[\/\\]/g, '-');
  }
</script>
<style>
  #address_input_form{
    display: none;
  }
  #address_input_btn{
    margin: 15px;
  }
</style>
<%- include("ejs/footer.ejs") %>
