<%- include("ejs/header.ejs") -%>

    <%- include("ejs/navbar.ejs") -%>
    <main>
        <div class="hero-area section-bg2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-area">
                            <div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
                                <div class="hero-caption hero-caption2">
                                    <h2><%= name ? name.split(" ")[0] + "'s Cart" : "Cart" %> </h2>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb justify-content-center">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">Cart</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let subTotal = 0 %>
                                <% let productLen  = productsInCart.lenght; %>
                                <% if (item_in_cart > 0) { %>
                                    <!-- Cart is not empty -->
                                    <% for (let i = 0; i < item_in_cart; i++) { %>
                                        <% subTotal +=  productsInCart[i].quantity*productsInCart[i].product_price %>
                                      <%- include("ejs/cart_item.ejs", {primg :productsInCart[i].product_img ,index: i, productName:productsInCart[i].product_name, productPrice:productsInCart[i].product_price, quantity:productsInCart[i].quantity, code : productsInCart[i].id}) -%>
                                    <% } %>
                                  <% } else { %>
                                    <!-- Cart is empty -->
                                    <tr><td><h4>Cart Empty</h4></td></tr>
                                  <% } %>
                                  
                                <tr class="bottom_button">
                                    <td >
                                        <% if (item_in_cart > 0) { %>
                                        <form style="display: inline-block; margin: 0 2.5% 2.5% 0; width: fit-content;" method="post" action="/empty-cart"><button type="submit" class="btn">Empty Cart</button></form>
                                        <form style="display: inline-block; margin: 0 2.5% 2.5% 0;" method="post"onsubmit="javascript:this.firstElementChild.disabled=true" action="/update-cart"><input hidden name="newCartString" value="" id="newCartStringContainer"> <button type="submit" class="btn">Update Cart</button> </form>
                                        <% } %>
                                    </td>
                                    <td></td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>Subtotal</h5>
                                    </td>
                                    <td>
                                        <h5 id="total-subtotal">
                                             <%= subTotal %> USD <span style="display: inline;" flow="pay" tooltip="In BTC : <%= ((1/parseInt(btcPrice))*subTotal).toFixed(7) %> BTC 
                                                In ETH : <%= ((1/parseInt(ethPrice))*subTotal).toFixed(7) %> ETH 
                                                In LTC : <%= ((1/parseInt(ltcPrice))*subTotal).toFixed(7) %> LTC 
                                                In BNB : <%= ((1/parseInt(bnbPrice))*subTotal).toFixed(7) %> BNB 
                                                In SOL : <%= ((1/parseInt(solPrice))*subTotal).toFixed(7) %> SOL " class="price-exchange"> 
                                                <img style="margin: auto; width: auto;" src='https://img.icons8.com/ios-filled/ff7f00/25/change.png' alt="">
                                            </span>
                                        </h5>
                                    </td>
                                </tr>
                                <tr class="shipping_area">
                                    <td></td>
                                    <td></td>
                             
                                </tr>
                            </tbody>
                        </table>
                        <div class="checkout_btn_inner float-right">
                            <a class="btn" href="/shop"> Continue Shopping</a>
                            <% if (item_in_cart > 0) { %>
                            <form method="post" action="/checkout" style="display: inline-block; margin: 2% 0;""> <input hidden value="<%= JSON.stringify(productsInCart) %>" name="proInfo"> <button type="submit" class="btn checkout_btn">Proceed to checkout</button></form>
                            <p>If You made changes to cart, select Update Cart above before proceeding to Checkout</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <script>
  function updateCart() {
    var finalCartString = "";

    <%
    for (var index = 0; index < productsInCart.length; index++) {
        var element = productsInCart[index];
    %>
        finalCartString += '<%= element.id %>' + ',' + document.querySelectorAll(".qt-selector .current")[<%= index %>].textContent + ';';
    <%
    }
    %>
    document.getElementById("newCartStringContainer").value = finalCartString;
}

    function updateCount(selectElement, index, productPrice) {
    const newQuantity = parseInt(selectElement.value);
    const totalElement = document.getElementById(index);
    totalElement.textContent = newQuantity * productPrice;
    updateCart();
    updateSubTotal();
  }
  function updateSubTotal(){
    var subtotal = 0;
    for (let index = 0; index < <%= item_in_cart %>; index++) {
        subtotal += parseInt(document.getElementById(index).textContent);
    }
    document.getElementById("total-subtotal").textContent = subtotal + " USD";
  }

    </script>
    
    <%- include("ejs/footer.ejs") -%>