<%- include("ejs/header.ejs") -%>

<body>

    <%- include("ejs/navbar.ejs") -%>
    <main>
        <div class="hero-area section-bg2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-area">
                            <div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
                                <div class="hero-caption hero-caption2">
                                    <h2><%= name ? name.split(" ")[0] + "'s Cart" : "Cart" %> </h2>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb justify-content-center">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">Cart</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let subTotal = 0 %>
                                <% if (item_in_cart > 0) { %>
                                    <!-- Cart is not empty -->
                                    <% for (let i = 0; i < item_in_cart; i++) { %>
                                        <% subTotal +=  productsInCart[i].quantity*productsInCart[i].product_price %>
                                      <%- include("ejs/cart_item.ejs", {primg :productsInCart[i].product_img ,index: i, productName:productsInCart[i].product_name, productPrice:productsInCart[i].product_price, quantity:productsInCart[i].quantity}) -%>
                                    <% } %>
                                  <% } else { %>
                                    <!-- Cart is empty -->
                                    <tr><td><h4>Cart Empty</h4></td></tr>
                                  <% } %>
                                  
                                <tr class="bottom_button">
                                    <td>
                                        <a class="btn" href="#">Update Cart</a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>Subtotal</h5>
                                    </td>
                                    <td>
                                        <h5>
                                            <%= subTotal %>
                                        </h5>
                                    </td>
                                </tr>
                                <tr class="shipping_area">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>Shipping</h5>
                                    </td>
                                    <td>
                                        <div class="shipping_box">
                                            <ul class="list">
                                                <li>
                                                    Flat Rate: $5.00
                                                    <input type="radio"
                                                        aria-label="Radio button for following text input">
                                                </li>
                                                <li>
                                                    Free Shipping
                                                    <input type="radio"
                                                        aria-label="Radio button for following text input">
                                                </li>
                                                <li>
                                                    Flat Rate: $10.00
                                                    <input type="radio"
                                                        aria-label="Radio button for following text input">
                                                </li>
                                                <li class="active">
                                                    Local Delivery: $2.00
                                                    <input type="radio"
                                                        aria-label="Radio button for following text input">
                                                </li>
                                            </ul>
                                            <h6>
                                                Calculate Shipping
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </h6>
                                            <select class="shipping_select">
                                                <option value="1">Bangladesh</option>
                                                <option value="2">India</option>
                                                <option value="4">Pakistan</option>
                                            </select>
                                            <select class="shipping_select section_bg">
                                                <option value="1">Select a State</option>
                                                <option value="2">Select a State</option>
                                                <option value="4">Select a State</option>
                                            </select>
                                            <input class="post_code" type="text" placeholder="Postcode/Zipcode" />
                                            <a class="btn" href="#">Update Details</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="checkout_btn_inner float-right">
                            <a class="btn" href="/">Continue Shopping</a>
                            <a class="btn checkout_btn" href="https://paypal.me/aryanshdev">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <%- include("ejs/footer.ejs") -%>