<%- include("ejs/header.ejs") -%>

    <%- include("ejs/navbar.ejs") -%>
    <main>
      <div class="hero-area section-bg2">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="slider-area">
                <div
                  class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center"
                >
                  <div class="hero-caption hero-caption2">
                    <h2>Checkout</h2>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                          <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                          <a href="/cart">Cart</a>
                        </li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="checkout_area">
        <div class="container">
          
          <div class="billing_details">
            <div class="row">
              <div class="col-lg-8">
                <h4>Billing Details</h4>
                
    <% var addLen = Object.keys(addresses).length; if (addLen == 0) {  %>
        <p>No addresses added.</p>
        <button class="btn" onclick="addAddressForm()" id="address_input_btn" style="margin: 0;">Add Address</button>
        <% } else { %>
        <table class="addTable">
            <% for (var i in addresses) { var details = addresses[i].split("|") %>
                <tr>
                    <td style="width: 3%;"><input type="radio" onchange="generateOrderJSON()" name="address" value="<%= i %>" checked></td>
                    <td><%- '<h5>'+ i +' </h5> <strong>'+ details[0]+' </strong> <br> '+ details[1]  +' <br> '+details[2]  %></td>
                </tr>
            <% } %>
        </table>
    
        <% if (addLen < 5) { %>
            <button class="btn" onclick="addAddressForm()" id="address_input_btn">Add Another</button>
        <% } %>
    <% } %>
    
    <div>
      <form action="/addNewAddress/1" method="post" class="pt-30" style="margin-bottom: 2.5px;" id="address_input_form">
        <h5>Add New Address</h5>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" oninput="checkRestricted(this)" type="text" name="fullName" placeholder="Full Name" required>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" oninput="checkRestricted(this)" type="tel" name="phoneNum" placeholder="Phone Number" required>
          </div>
    
          <div class="col-12 col-md-4 col-lg-4">
            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" oninput="checkSymbols(this)" onblur="checkIn(this)" name="addressName" placeholder="Address For (eg. Home)" required>
          </div>
        <div class="col-12 col-md-8 col-lg-8">
          <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" oninput="checkRestricted(this)" type="text" name="address" placeholder="Your Address" required>
        </div>
        
        <div class="col-12 col-md-4 col-lg-4">
          <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" oninput="checkRestricted(this)" type="text" name="state" placeholder="Your State" required>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" oninput="checkRestricted(this)" type="text" name="country" placeholder="Your Country" required>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" oninput="checkRestricted(this)" type="text" name="pin" placeholder="ZIP/PIN Code" required>
        </div>
      </div>
      <button type="submit" class="btn">Save Address</button>  <button type="button" onclick="closeAddressForm()" class="btn">Cancel</button>
      </form>
    </div>
            </div>
              <div class="col-lg-4">
                <div class="order_box">
                  <h4>Your Order</h4>
                  <table class="order_table">
                      <thead>
                        <tr>
                          <th style="width: 65%;">
                            Product
                          </th>
                          <th style="width: 15%; text-align: center;">
                            Quantity
                          </th>
                          <th style="width: 20%; text-align: right;">
                            Total
                          </th>
                        </tr>
                      </thead>
                      <tbody style="margin-bottom: 3%;">
                        <% let subTotal = 0; var orderProducts = {} %>
                        <% products = JSON.parse(products); %>
                        <% let productLen  = products.length; %>
                            <% for (var i = 0; i < productLen; i++) {  %>
                                <% subTotal +=  products[i].quantity*products[i].product_price %>
                                <% orderProducts[products[i].id] = products[i].product_name+","+products[i].quantity;  %>
                                <tr>
                                  <td><%= products[i].product_name.slice(0, 50) + (products[i].product_name.length > 50 ? "..." : "") %></td>
                                  <td style="text-align: center;"><%= products[i].quantity %></td>
                                  <td style="text-align: right;"><%= products[i].quantity * products[i].product_price %></td>
                              </tr>
                                <% } %>
                        </tbody>
                     </table>
                  <ul class="list list_2">
                    <li>
                      <p>Subtotal </p> 
                      <span><%= subTotal %> USD</span>
                    </li>
                    <li>
                      <p>Shipping</p> <span>FREE</span>
                    </li>
                    <li>
                      <p>Total </p> <span><%= subTotal %> USD  <span style="display: inline;" flow="pay" tooltip="In BTC : <%= ((1/parseInt(btcPrice))*subTotal).toFixed(7) %> BTC 
                        In ETH : <%= ((1/parseInt(ethPrice))*subTotal).toFixed(7) %> ETH 
                        In LTC : <%= ((1/parseInt(ltcPrice))*subTotal).toFixed(7) %> LTC 
                        In BNB : <%= ((1/parseInt(bnbPrice))*subTotal).toFixed(7) %> BNB 
                        In SOL : <%= ((1/parseInt(solPrice))*subTotal).toFixed(7) %> SOL " class="price-exchange"> 
                        <img style="margin: auto; width: auto;" src='https://img.icons8.com/ios-filled/ff7f00/24/change.png' alt="">
                    </span></span> 
                    </li>
                  </ul>
                  <form method="post" action="/payment"> <input hidden value="" name="orderJSON"><input hidden value="<%= subTotal %>" name="total"> <p style="text-align: center; margin: 15px 0px;" >You Will Be Redirected To A Fake Payment Gateway</p>  <button style="padding: 22px 5%;" type="submit" id="paymentProceed" class="btn w-100">Proceed to Pay With Crypto</button> <p style="text-align: center;" id="addressInfo">Add/Select Address To Continue</p></form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
   
    <script>
      if(!document.querySelector('input[name="address"]:checked')){
        document.querySelector('#paymentProceed').setAttribute("disabled" ,"disabled");
        document.querySelector('#addressInfo').style.display = "block";
      }
      else{
        document.querySelector('#paymentProceed').removeAttribute("disabled");
        document.querySelector('#addressInfo').style.display = "none";
       generateOrderJSON();
      }
        function addAddressForm() {
          document.getElementById("address_input_btn").setAttribute("disabled", "true");
          document.getElementById("address_input_form").style.display = 'block';    
        }
        function closeAddressForm() {
          document.getElementById("address_input_btn").removeAttribute("disabled");
          document.getElementById("address_input_form").style.display = 'none';    
        }
        function checkIn(field) {
          if ( Object.keys(JSON.parse('<%- unescape(JSON.stringify(addresses)) %>')).includes(field.value)){
                field.value = "";
                field.placeholder = "Should Be Unique For An Address"
              }
        }
        
        function checkSymbols(field){
          field.value = field.value.replace(/[\/\\]/g, '-');
          field.value = field.value.replace(/['"]/g, ' ');
        }

        function checkRestricted(field){
          field.value = field.value.replace(/['"]/g, ' ');
        }
        
        function generateOrderJSON(){
          var out = {};
          out[new Date().toISOString()] = {
            'addSrt' :  document.querySelector('input[name="address"]:checked').value, 
            'products' :  <%- JSON.stringify(orderProducts) %> 
          }
         document.querySelector('input[name="orderJSON"]').value = JSON.stringify(out).replace(/'/g,"''")
        }
      </script>
      <style>
        #fake-payment-msg{
          display: none;
        }
        #address_input_form{
          display: none;
        }
        #address_input_btn{
          margin: 15px;
        }
      </style>

    <%- include("ejs/footer.ejs") -%>