<%- include("ejs/header.ejs") -%>

    <%- include("ejs/navbar.ejs") -%>
    <main>
      <div class="hero-area section-bg2">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="slider-area">
                <div
                  class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center"
                >
                  <div class="hero-caption hero-caption2">
                    <h2>Checkout</h2>
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                          <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                          <a href="/cart">Cart</a>
                        </li>
                      </ol>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="checkout_area">
        <div class="container">
          
          <div class="billing_details">
            <div class="row">
              <div class="col-lg-8">
                <h4>Billing Details</h4>
                
    <% var addLen = Object.keys(addresses).length; if (addLen == 0) {  %>
        <p>No addresses added.</p>
        <button class="btn" onclick="addAddressForm()" id="address_input_btn" style="margin: 0;">Add Address</button>
        <% } else { %>
        <table class="addTable">
            <% for (var i in addresses) { var details = addresses[i].split("|") %>
                <tr>
                    <td style="width: 3%;"><input type="radio" name="address" id="address-<%= i %>"></td>
                    <td><%- '<h5>'+ i +' </h5> <strong>'+ details[0]+' </strong> <br> '+ details[1]  +' <br> '+details[2]  %></td>
                </tr>
            <% } %>
        </table>
    
        <% if (addLen < 5) { %>
            <button class="btn" onclick="addAddressForm()" id="address_input_btn">Add Another</button>
        <% } %>
    <% } %>
    
    <div>
      <form action="/addNewAddress/1" method="post" class="pt-30" id="address_input_form">
        <h5>Add New Address</h5>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="fullName" placeholder="Full Name" required>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="tel" name="phoneNum" placeholder="Phone Number" required>
          </div>
    
          <div class="col-12 col-md-4 col-lg-4">
            <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" onblur="checkIn(this)" name="addressName" placeholder="Address For (eg. Home)" required>
          </div>
        <div class="col-12 col-md-8 col-lg-8">
          <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="address" placeholder="Your Address" required>
        </div>
        
        <div class="col-12 col-md-4 col-lg-4">
          <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="state" placeholder="Your State" required>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="country" placeholder="Your Country" required>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <input class="form-control valid" style="display: inline; margin-bottom: 2.5%;" type="text" name="pin" placeholder="ZIP/PIN Code" required>
        </div>
      </div>
      <button type="submit" class="btn">Save Address</button>
      </form>
    </div>
            </div>
              <div class="col-lg-4">
                <div class="order_box">
                  <h4>Your Order</h4>
                  <table class="order_table">
                      <thead>
                        <tr>
                          <th style="width: 65%;">
                            Product
                          </th>
                          <th style="width: 15%; text-align: center;">
                            Quantity
                          </th>
                          <th style="width: 20%; text-align: right;">
                            Total
                          </th>
                        </tr>
                      </thead>
                      <tbody style="margin-bottom: 3%;">
                        <% let subTotal = 0 %>
                        <% products = JSON.parse(products); %>
                        <% let productLen  = products.length; %>
                            <% for (var i = 0; i < productLen; i++) {  %>
                                <% subTotal +=  products[i].quantity*products[i].product_price %>
                                <tr>
                                  <td><%= products[i].product_name.slice(0, 50) + (products[i].product_name.length > 50 ? "..." : "") %></td>
                                  <td style="text-align: center;"><%= products[i].quantity %></td>
                                  <td style="text-align: right;"><%= products[i].quantity * products[i].product_price %></td>
                              </tr>
                                <% } %>
                        </tbody>
                     </table>
                  <ul class="list list_2">
                    <li>
                      <p>Subtotal </p> 
                      <span><%= subTotal %> USD</span>
                    </li>
                    <li>
                      <p>Shipping</p> <span>FREE</span>
                    </li>
                    <li>
                      <p>Total </p> <span><%= subTotal %> USD</span> 
                    </li>
                  </ul>
                  <a class="btn w-100" onclick="fakePayment()">Proceed to Pay With Crypto</a>
                  <h4 id="fake-payment-msg">
                    FAKE PAYMENT SUCCESSFULL <br> REDIRECTING IN 5 SECONDS
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
   
    <script>
        function addAddressForm() {
          document.getElementById("address_input_btn").setAttribute("disabled", "true");
          document.getElementById("address_input_form").style.display = 'block';    
        }
        function checkIn(field) {
          if ( Object.keys(JSON.parse('<%- unescape(JSON.stringify(addresses)) %>')).includes(field.value)){
                field.value = "";
                field.placeholder = "Should Be Unique For An Address"
              }
        }
        function fakePayment(){
          document.getElementById("fake-payment-msg").style.display = "block";
            setTimeout( () => {
              window.location = "/account"
            } ,5000);
          
        }
      </script>
      <style>
        #fake-payment-msg{
          display: none;
        }
        #address_input_form{
          display: none;
        }
        #address_input_btn{
          margin: 15px;
        }
      </style>

    <%- include("ejs/footer.ejs") -%>