<tr>
  <td>
    <div class="media">
      <div class="d-flex">
        <a href="/product-<%= code %>" > <img src=<%= primg %> alt /> </a>
      </div>
      <div class="media-body">
       <a href="/product-<%= code %>" > <p><%= productName %></p>
        
      </div>
    </div>
  </td>
  <td>
    <h5><%= productPrice %></h5>
  </td>
  <td>
    <select id="count" class="qt-selector" onchange='updateCount(this, <%= index %>, <%= productPrice %>)'>
      <% for (let i = 1; i <= 10; i++) { %>
        <option value="<%= i %>" <%= i == quantity ? 'selected' : '' %>><%= i %></option>
      <% } %>
      
    </select>
  </td>
  <td>
    
    <% totalPrice = quantity*productPrice %>
    <h5 id=<%= index %>><%= totalPrice  %></h5>
  </td>
</tr>

