<%- include("header.ejs") -%>

<body>


    <main class="login-bg">

        <div class="login-form-area">
            <div class="login-form" style="max-width: 75%;">
 
<form action="/check-otp-<%= codeType %>" method="post">
    <div class="login-heading">
        <span>Enter <%= codeType %> Code</span>
    </div>
    <div id="alert-panel" class="alert" style="margin-top: 5%; display: <%=displayProp %>;">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Wrong Code, Check Your Code Again And Enter Correct Code.
      </div>
     <%= otpMessage %>
    <div class="input-box">
        <div class="single-input-fields">
            <label>Enter The Code You Received </label>
            <input name="otp" type="text" maxlength="6" minlength="6" placeholder="<%= codeType %> Code">
            <button type="submit" class="submit-btn3">Continue</button>
        </div>

    </div>
</form>

     </div>
        </div>
        
    </main>