<%- include("header.ejs") -%>


    <%- include("navbar.ejs") -%>
    <main>

        <div class="hero-area section-bg2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider-area">
                            <div class="slider-height2 slider-bg4 d-flex align-items-center justify-content-center">
                                <div class="hero-caption hero-caption2">
                                    <h2>Product Details</h2>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb justify-content-center">
                                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#description">Product Details</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="services-area2 pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-12">

                                <div class="single-services d-flex align-items-center mb-0">
                                    <div class="features-img">
                                        <img src=<%= productImage %> alt>
                                    </div>
                                    <div class="features-caption">
                                        <h3><%= productName %></h3>
                                        <a href="/search&q=<%= category %>" ><p><%= category %></p></a>
                                        <div class="price">
                                            <span><%= productPrice %> USD <span style="display: inline;" tooltip="In BTC : <%= ((1/parseInt(btcPrice))*productPrice).toFixed(7) %> BTC 
                                                In ETH : <%= ((1/parseInt(ethPrice))*productPrice).toFixed(7) %> ETH 
                                                In LTC : <%= ((1/parseInt(ltcPrice))*productPrice).toFixed(7) %> LTC 
                                                In BNB : <%= ((1/parseInt(bnbPrice))*productPrice).toFixed(7) %> BNB 
                                                In SOL : <%= ((1/parseInt(solPrice))*productPrice).toFixed(7) %> SOL " class="price-exchange"> 
                                                <img style="margin: auto; width: auto;" src='https://img.icons8.com/ios-filled/ffffff/30/change.png' alt="">
                                            </span>
                                        </span>
                                        </div>
                                        <div class="review">
                                            <div class="rating">
                                                <% for (var i = 0; i < parseInt(productRating); i++) { %>
                                                    <i class="fas fa-star"></i>
                                                <% } %>
                                                
                                                <% if (productRating > i) { i++ %>
                                                    <i class="fas fa-star-half-alt"></i>
                                                <% } %>
                                                
                                                <% for (; i < 5; i++) { %>
                                                    <i class="fas fa-star-no"></i>
                                                <% } %>
                                            </div>
                                            <p>(<%= totalReviews ? totalReviews : 0 %> Reviews)</p>
                                        </div>
                                        <a href=<%= "/add-"+ code %> style="border:white" class="white-btn mr-10">Add to Cart</a>
                                        <a href="#"  style="padding: 0%;" class="border-btn share-btn"><i class="fas fa-share-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="our-client section-padding best-selling">
            <a name="description"></a>
            <div class="container">
                <div class="row">
                    <div class="offset-xl-1 col-xl-10">
                        <div class="nav-button f-left">

                            <nav>
                                <div class="nav nav-tabs " id="nav-tab" role="tablist">
                                    <a class="nav-link active" id="nav-one-tab" data-bs-toggle="tab" href="#nav-one"
                                        role="tab" aria-controls="nav-one" aria-selected="true">Description</a>
                                    <a class="nav-link" id="nav-two-tab" data-bs-toggle="tab" href="#nav-two" role="tab"
                                        aria-controls="nav-two" aria-selected="false">Details</a>
                                    <a class="nav-link" id="nav-three-tab" data-bs-toggle="tab" name='#nav-three' href="#nav-three"
                                        role="tab" aria-controls="nav-three" aria-selected="false">Reviews</a>
                                </div>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                        <div class="row">
                            <div class="offset-xl-1 col-lg-9">
                                <p><%- description %>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-two" role="tabpanel" aria-labelledby="nav-two-tab">

                        <div class="row">   
                            <div class="offset-xl-1 col-lg-9">
                                
                                <table>
                                    <% for (var i in productDetails) { %>
                                        <tr> 
                                            <td> <%=  i %> </td> 
                                            <td> <%= productDetails[i] %></td>
                                        </tr>
                                        <% } %>
                                </table>
                            
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-three" role="tabpanel" aria-labelledby="nav-three-tab">
                        <div class="row">   
                            <div class="offset-xl-1 col-lg-9">
                            <form method="post" action="/review:<%= code %>">
                                    <div class="row" id="form" style="position: relative;">
                                        
                                <div id="overlay" class="overlay"> <h1 style="
                                    padding-top: 4%;color: white; font-weight: 700;">Login To Review</h1> </div>
                                        <div class="star-selection">
                                            <span class="star " onclick="selectUnselect(1)"></span>
                                            <span class="star " onclick="selectUnselect(2)"></span>
                                            <span class="star " onclick="selectUnselect(3)"></span>
                                            <span class="star" onclick="selectUnselect(4)"></span>
                                            <span class="star" onclick="selectUnselect(5)"></span>
                                        </div>
                                        <div class="col-12 col-md-12 col-lg-9">
                                            <input type="number" name="star" id="starvalue" value="0" hidden required>
                                            <input required type="text" class="form-control valid" style="display: inline; margin-bottom: 2.5%;" placeholder="Write Your Review" name="review_msg">
                                        </div>
                                        
                                        <div class="col-12 col-md-12 col-lg-3">
                                            <button type="submit" style="display: inline; " class="btn">Submit</button>
                                        </div>
                                    </div>   
                               </form>
                               
                                
                               
                            </div>
                            <hr style="border-top: dotted 4px; width: 50%; margin-left: 25%; margin-top: 2%; margin-bottom: 2%; background-color: white;">
                        
                            <div class="offset-xl-1 col-lg-9">
                                <%  try { %>
                                 <%-   include("user_review.ejs" ,{deleteButton:"showDeleteButton", stars_given : reviews[username][2], userName : username, userFullName :  reviews[username][1], date : new Date(reviews[username][0]).toLocaleString() , message: reviews[username][3] }) %>
                                <% }  catch(error) { } %>
                                <% let num = 0 %>
                                <% for (var i in reviews) { %>
                                    <% if (num < 5){ if ( i !== username) { %>
                                   <% num +=1  %>
                                    <%- include("user_review.ejs" ,{deleteButton:"noDeleteButton", stars_given : reviews[i][2], userName : i, userFullName :  reviews[i][1], date : new Date(reviews[i][0]).toLocaleString() , message: reviews[i][3] }) %>
                                    <% }}  else { break;} }%>
                       
                            </div>
                        
                        </div>


                    </div>
                </div>
            </div>
        </section>

    </main>
    <script>

        let overlay = document.querySelector("#overlay");
        if ( "<%= username  %>"  ){
            overlay.style.display = "none";
        }

        if (<%=  reviews ? (reviews[username] ? 1: 0) : 0 %>){
            overlay.firstElementChild.textContent = "Already Reviewed"
            overlay.style.display = "";
        }

       function selectUnselect( num){
        document.getElementById('starvalue').value = num;
            var stars = document.getElementsByClassName('star');
            for (let i = 0; i < 5; i++) {
                if (i <= num-1){
                    stars[i].classList.add("selected")
                }
                else stars[i].classList.remove("selected");
            }
       }
    </script>
<%- include("footer.ejs") %>
