
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
    <div class="properties pb-30">
      <div class="properties-card">
        <div class="properties-img">
          <a href=<%= "/product-"+ productCode %>
            ><img src=<%= productImg %>> alt
          /></a>
          <div class="socal_icon">
            <a href="#"><i class="ti-shopping-cart"></i></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd" d="M15.75 4.5a3 3 0 11.825 2.066l-8.421 4.679a3.002 3.002 0 010 1.51l8.421 4.679a3 3 0 11-.729 1.31l-8.421-4.678a3 3 0 110-4.132l8.421-4.679a3 3 0 01-.096-.755z" clip-rule="evenodd" />
            </svg>
            </a>
            <a href="#"><i class="ti-zoom-in"></i></a>
          </div>
        </div>
        <div class="properties-caption properties-caption2">
          <h3>
            <a href=<%= "/product-"+ productCode %>><%= productName.slice(0,50) + (productName.length > 50 ? "..."  : "") %></a>
          </h3>
          <div class="properties-footer">
            <div class="price">
              <span>   <%=  productPrice %> USD <span> <%=  (productMRP ? productMRP +" USD" : "") %> </span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>