
<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
    <div class="properties pb-30">
      <div class="properties-card">
        <div class="properties-img">
          <a href=<%= "/product-"+ productCode %>
            ><img src=<%= productImg %>> alt
          /></a>
          <div class="socal_icon">
            <a href=<%= "/add-"+ productCode %>
               <!-- CART BUTTON -->
             
              
              <?xml version="1.0" standalone="no"?>
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="256.000000pt" height="256.000000pt" viewBox="0 0 256.000000 256.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)">
<path d="M65 2135 c-33 -32 -33 -78 0 -110 24 -24 28 -25 184 -25 158 0 161 0
166 -22 3 -13 41 -250 86 -528 88 -549 97 -584 163 -635 72 -55 64 -54 699
-55 l588 0 24 25 c33 32 33 78 0 110 l-24 25 -579 0 c-565 0 -580 1 -605 20
-17 13 -27 34 -32 63 -3 23 -9 50 -11 60 -5 16 29 17 608 17 661 1 652 0 723
54 64 49 78 94 134 428 28 169 51 317 51 328 0 12 -11 32 -25 45 l-24 25 -805
0 -804 0 -6 28 c-3 15 -8 49 -12 76 -4 32 -15 58 -30 73 -23 23 -27 23 -234
23 -211 0 -211 0 -235 -25z"/>
<path d="M815 586 c-101 -44 -125 -178 -46 -257 112 -113 296 -12 267 146 -18
94 -131 151 -221 111z"/>
<path d="M1695 586 c-101 -44 -125 -178 -46 -257 112 -113 296 -12 267 146
-18 94 -131 151 -221 111z"/>
</g>
</svg>

            
              </a>
            <a onclick="shareProduct('<%= productCode %>', '<%= productName %>')">
              <!-- SHARE BUTTON -->
              <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="256.000000pt" height="256.000000pt" viewBox="0 0 256.000000 256.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,256.000000) scale(0.100000,-0.100000)" >
<path d="M1353 2185 c-63 -27 -73 -60 -73 -236 l0 -156 -77 -13 c-437 -70
-757 -340 -853 -720 -30 -121 -38 -301 -16 -410 31 -157 116 -290 185 -290 43
0 75 44 100 142 60 226 104 314 201 401 30 27 80 62 112 78 70 36 206 75 287
85 l61 7 0 -149 c0 -132 2 -153 20 -182 33 -53 116 -78 167 -49 12 7 177 160
367 341 378 360 382 364 358 444 -10 32 -73 97 -357 368 -190 181 -358 334
-373 341 -36 16 -70 15 -109 -2z"/>
</g>
</svg>
</a>
          </div>
        </div>
        <div class="properties-caption properties-caption2">
          <h3>
            <a href=<%= "/product-"+ productCode %>><%= productName.slice(0,50) + (productName.length > 50 ? "..."  : "") %></a>
          </h3>
          <div class="properties-footer">
            <div class="price">
              <span>   <%=  productPrice %> USD <span> <%=  (productMRP ? productMRP +" USD" : "") %> </span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>